Django==1.7
Fabric==1.10.0
Pygments==1.6
argparse==1.2.1
coverage==3.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-jenkins==0.16.3
django-toolbelt==0.0.1
ecdsa==0.11
factory-boy==2.4.1
gunicorn==19.1.1
markdown2==2.3.0
paramiko==1.15.1
psycopg2==2.5.4
pycrypto==2.6.1
static3==0.5.1
wsgiref==0.1.2
